<div class="menu">
    <ul class="list">
        <li class="header">MAIN NAVIGATION</li>
        <li>
            <a href="/">
                <i class="material-icons">home</i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="/status">
                <i class="material-icons">report</i>
                <span>Status</span>
            </a>
        </li>
        <li>
            <a href="/login">
                <i class="material-icons">person</i>
                <span>Login</span>
            </a>
        </li>
        <li>
            <a href="/monitor">
                <i class="material-icons">timeline</i>
                <span>Monitoring</span>
            </a>
        </li>
    </ul>
</div>
